:root {
  --bgcolor: #fff;
  --content-width: 1160px;
  --fz: 16px;
  --fz-h2: 42px;
   /* с h3 связаны fz оплаты */
  --fz-h3: 24px;
  --fz-desc: 20px;
  --fz-btn: 15px;
  --fz-navbar-left: 14px;
  --fz-docs: 12px;
  /* fz для оплаты */
  --fz-oplata-h3: 36px;
  --fz-oplata-summa: 40px;
  --accent-color: #fea753;
  --h-plashka: 167px;
  --size-prev-next: 40px;
}